
<h2 class="cart-title">Carrinho</h2>

<div>
    <ul>
        <li>
            <img src="https://via.placeholder.com/1000x1000?text=">
            <p>Desc Prod</p>
            <p>Preço</p>
            <label>
                Quantidade:
                <input type="number">
            </label>
            <button class="remove-button"><i class="fa-solid fa-trash-can"></i></button>
        </li>
    </ul>

    <h2 class="cart-total">Total: </h2>
    <button class="buy-button">Comprar</button>
</div>